<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="NCoreConnection" connectionString="Data Source=(local)\sqlexpress;Integrated Security=SSPI;initial catalog=NCore.Demo" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>