<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="NCoreConnection" connectionString="Data Source=(local)\sqlexpress;Integrated Security=SSPI;initial catalog=NCore.Demo" />
  </connectionStrings>
  <appSettings>
    <add key="ElasticNode1" value="http://localhost:9200"/>
    <add key="ElasticNode2" value=""/>
    <add key="ElasticNode3" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>